        * {
            margin: 0;
            padding: 0;
        }

        body {
            background-color: var(--bg-color);
            color: var(--text-color);
            transition: 0.3s ease-in-out;
            font-family: "Poppins", sans-serif;
        }

        :root {
            background-image: url("https://abdulrafayzahid.github.io/BusinessWebLayout4-Responsive/Images/second.jpg");
            background-size: contain;
            --text-color: #ffffff;
        }

        .light-mode {
            --bg-color: #ffffff;
            background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20210324/pngtree-portfolio-memphis-playful-abstract-pink-image_593412.jpg");
            background-size: contain;
            background-repeat: no-repeat;
        }

        .light-mode code h2{
            opacity: 0;
            animation: screenupp 1s ease-in forwards;
        }

        @keyframes screenupp {
            0%{
                opacity:1;
                transform: scale(2.1);
                color: red;
            }
            50%{
                opacity: 1;
                transform: scale(2);
                color: black;

            }
            80%{
                opacity: 1;
                transform: scale(1.5);
                color: white;  
            }
            100%{
                opacity: 1;
                transform: scale(1);
                color: red;
            }
        }

        .light-mode .codeText{
            color: black;
        }

        .light-mode code h2{
            color:  rgb(128, 0, 255);
        }

        .light-mode .codeText strong{
            color: rgb(128, 0, 255);
        }

        .light-mode .btn {
            background-color: rgb(187, 17, 17) !important;
            color: white !important;
            border: 4px solid black !important;
        }

        .light-mode .btn:hover {
            color: white;
            border: 2px solid white !important;
        }

        .light-mode .contentData {
            color: black;
        }

        .light-mode .contentData h2{
            color: rgb(142, 71, 209);
        }

        .light-mode .contentData:hover {
            color: rgb(128, 0, 255);
        }

        .light-mode .leftSection {
            color: black;
        }

        .light-mode #element {
            color: rgb(118, 20, 209);
        }

        .light-mode .purple {
            color: rgb(118, 20, 209);
        }

        .light-mode .secondSection {
            color: black;
        }

        .light-mode .box {
            background-color: black !important;
        }

        .light-mode .vertical {
            background-color: black !important;
        }

        .light-mode .vertical-title {
            color: red;
        }

        .light-mode .vertical-desc {
            color: black;
        }

        .light-mode .MyResume {
            margin-top: -50px;
            width: 80%;
            border-radius: 1px;
            box-shadow: 5px 5px 5px 5px black;
        }

        .light-mode .resume-animation {
            animation: light-slideIn 1s ease-in-out forwards;
        }

        @keyframes light-slideIn {
            0% {
                opacity: 0.2;
                transform: scale(0.5) rotate(10deg);
            }

            25% {
                border: 5px solid black;
                box-shadow: 25px 25px 25px black;
            }

            50% {
                opacity: 0.7;
                transform: scale(1.5) rotate(5deg);
            }

            100% {
                opacity: 1;
                transform: scale(1) rotate(0deg);
            }
        }

        header h5 {
            display: flex;
            justify-content: center;
            background-color: rgb(221, 207, 207);
            color: rgb(8, 8, 8);
        }

        nav {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 50px;
            height: 80px;
            background-color: rgb(18, 18, 62);

        }

        nav ul {
            display: flex;
        }

        nav ul li {
            list-style: none;
            margin: 0 23px;
            cursor: pointer;
            color: white;
        }

        nav ul li:hover {
            color: rgb(142, 71, 209);
            font-size: 1.02rem;
        }

        main hr {
            border: 0;
            background-color: #9c97f1;
            height: 1.2px;
            margin: 40px 85px;
        }

        .left {
            font-size: 1.5rem;
            display: flex;
            align-items: center;
            color: rgb(132, 72, 188);
        }

        .left img {
            width: 60px;
            margin: 0 10px;
            border-radius: 10px;
            box-shadow: 1px 1px 2px red;
        }

        .left img:hover {
            box-shadow: 2px 2px 1px black;
        }

        .firstSection {
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin: 80px 0;
        }

        .firstSection>div {
            width: 30%;
        }

        .leftSection {
            font-size: 2.50rem;
        }

        .leftSection .buttons {
            padding: 40px 0;
        }

        .leftSection .btn {
            padding: 12px;
            background-color: #1e2167;
            color: white;
            border: 2px solid white;
            border-radius: 6px;
            font-size: 15px;
            cursor: pointer;
        }

        .buttons>:hover {
            border: 1px solid black;
        }

        .rightSection {
            height: 55vh;
            color: white;
        }

        #rightImg {
            display: flex;
            transition: opacity 0.3s ease-out;
        }

        .typing-animation {
            width: 500px;
            height: 300px;
            animation: typing 60s ease-in-out infinite;
        }

        .typing-animation code {
            /* margin: 50px 0; */
            white-space: pre-wrap;
            font-family: "Courier New", monospace;
        }

        code h2{
            position: relative;
            bottom: 50px;
            right: 80%;
            opacity: 0;
            animation: screenup 1s ease-in forwards;
        }
        @keyframes screenup {
            0%{
                opacity:1;
                transform: scale(2.1);
                color: yellow;
            }
            50%{
                opacity: 1;
                transform: scale(2);
                color: red;

            }
            80%{
                opacity: 1;
                transform: scale(1.5);
                color: white;  
            }
            100%{
                opacity: 1;
                transform: scale(1);
                color: yellow;
            }
        }
        
        .codeText{
            color: white;
        }

        .codeText strong{
            color: red;
            text-transform: uppercase;
        }

        /* .coding-animation {
            background-color: #1e1e1e;
            color: #00ff99;
            font-family: "Courier New", monospace;
            font-size: 18px;
            padding: 15px;
            border-radius: 10px;
            width: 400px;
            height: 200px;
            overflow: hidden;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
        }
        
        pre {
            margin: 0;
            white-space: pre-wrap;
        } */

        .MyResume {
            margin-top: -50px;
            width: 80%;
            border-radius: 1px;
            box-shadow: 5px 5px 5px white;
        }

        .resume-animation {
            animation: slideIn 1s ease-in-out forwards;
        }

        @keyframes slideIn {
            0% {
                opacity: 0.2;
                transform: scale(0.5) rotate(10deg);
            }

            25% {
                border: 5px solid #1e2167;
                box-shadow: 25px 25px 25px #1e2167;
            }

            50% {
                opacity: 0.7;
                transform: scale(1.5) rotate(5deg);
            }

            100% {
                opacity: 1;
                transform: scale(1) rotate(0deg);
            }
        }

        .contentData img {
            width: 20%;
        }

        .contentData {
            letter-spacing: 3px;
            color: var(--text-color);
        }

        .contentData h2 {
            color:#292951;
            position: relative;
            bottom: 40px;
        }

        

        #HomeData p {
            font-family: "Bebas Neue";
            display: inline;
        }

        #aboutData mark {
            background: none;
            color: rgb(95, 5, 5);
        }

        #aboutData mark:hover {
            color: red;
        }

        .purple {
            color: rgb(170, 107, 228);
        }

        .text-grey {
            color: gray;
        }

        #element {
            color: rgb(170, 107, 228);
        }

        .secondSection {
            max-width: 80vw;
            margin: auto;
            height: 80vh;
        }

        .secondSection h1 {
            font-size: 1.9rem;
        }

        .secondSection .box {
            background-color: white;
            width: 76vw;
            height: 2px;
            margin: 56px 0;
            display: flex;
        }

        .secondSection .vertical {
            height: 93px;
            width: 1px;
            background-color: white;
            margin: 0 150px;
        }

        .image-top {
            width: 60px;
            position: relative;
            top: -42px;
            left: -25px;
            aspect-ratio: 3/2;
        }

        .vertical-title {
            position: relative;
            top: 75px;
            width: 150px;
            font-size: 14px;
            color: black;
        }

        .vertical-desc {
            position: relative;
            top: 86px;
            color: white;
            width: 150px;
            font-size: 9px;
        }

        footer {
            background-color: #0e0e14;
        }

        .footer {
            display: flex;
            justify-content: space-evenly;
            padding: 10px;
        }

        .footer>div {
            width: 200px;
        }


        footer .footer-rights {
            text-align: center;
            color: grey;
            padding: 12px 0;
        }

        .footer-second img {
            width: 25px;
            margin: 10px 5px;
        }

        .footer-fourth h4 {
            color: rgb(170, 107, 228);
        }

        .footer-fourth p {
            font-family: "Dancing Script", cursive;
        }

        .newsletter {
            text-align: center;
            padding: 20px;
            border-radius: 10px;
            padding: 30px;
        }

        .newsletter h2 {
            color: #0056b3;
        }

        .newsletter input {
            padding: 10px;
            width: 250px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin: 10px 10px;
        }

        .newsletter button {
            padding: 10px 15px;
            background: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: 0.3s;
        }

        .newsletter button:hover {
            background: #0056b3;
        }